main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.board,
.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 50px;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}
.btn > button{
    font-size: 3rem;
    padding: 1rem 1rem;
    border: 1px solid gray;
    border-radius: 0;
}
.divide {
    font-size: 5rem;
}
